@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Kalam:wght@300;400;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-gradient-start: theme(--color-zinc-200 / 20%);
  --bg-gradient-mid: theme(--color-zinc-400 / 30%);
  --bg-color: theme(--color-neutral-300 / 100%);
  --bg-card-color: theme(--color-stone-300 / 100%);
  --bg-tab-color: theme(--color-stone-300 / 100%);
  --bg-button-color: theme(--color-neutral-400 / 100%);
  --bg-socials-color: theme(--color-zinc-600 / 100%);
  --bg-logo-color: theme(--color-neutral-600 / 100%);
  --border-color: theme(--color-neutral-800/ 100%);
  --shadow-color: theme(--color-neutral-800 / 100%);
  --text-color: theme(--color-zinc-900/ 100%);
  --logo-color: theme(--color-zinc-200/ 100%);
}

.dark {
  --bg-gradient-start: theme(--color-zinc-950/ 80%);
  --bg-gradient-mid: theme(--color-zinc-900 / 90%);
  --bg-color: theme(--color-zinc-700 / 100%);
  --bg-card-color: theme(--color-zinc-700 / 100%);
  --bg-tab-color: theme(--color-zinc-700 / 100%);
  --bg-button-color: theme(--color-zinc-600 / 100%);
  --bg-socials-color: theme(--color-neutral-600 / 100%);
  --bg-logo-color: theme(--color-neutral-600 / 100%);
  --border-color: theme(--color-neutral-900 / 100%);
  --shadow-color: theme(--color-slate-900 / 100%);
  --text-color: theme(--color-stone-300/ 100%);
  --logo-color: theme(--color-zinc-200/ 100%);
}

body {
  color: var(--text-color);
  font-family: 'Handjet';
}

.navbar {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  box-shadow: 5px 5px 0px 0px var(--shadow-color);
}

.card {
  background-color: var(--bg-card-color);
  border-color: var(--border-color);
  box-shadow: 5px 5px 0px 0px var(--shadow-color);
}

.tab {
  background-color: var(--bg-tab-color);
  
  box-shadow: 3px 0px 0px 0px var(--shadow-color);
}

.card-1 {
  background-color: var(--bg-card-color);
  border-color: var(--border-color);
}

.quote {
font-family: 'Kalam';
}

.navlink {
  background-color: var(--bg-button-color);
  border-color: var(--border-color);
  box-shadow: 4px 4px 0px 0px var(--shadow-color);
}

.button {
  background-color: var(--bg-button-color);
  border-color: var(--border-color);
  box-shadow: 3px 3px 0px 0px var(--shadow-color);
}

.badge{
  background-color: var(--bg-button-color);
  border-color: var(--border-color);
  box-shadow: 3px 3px 0px 0px var(--shadow-color);
}

.socials{
  background-color: var(--bg-socials-color);
  border-color: var(--border-color);
  box-shadow: 3px 3px 0px 0px var(--shadow-color);
}

.logo{
  background-color: var(--bg-logo-color);
  border-color: var(--border-color);
  box-shadow: 3px 3px 0px 0px var(--shadow-color);
  color: var(--logo-color);
  font-family: 'Bungee Shade';
}

.background-image {
  position: fixed;  
  width: 100%;
  height: 100%;
  z-index: -10000;
  filter: blur(7px);
    transform: scale(1.1);
  background:
    linear-gradient(to bottom,
      var(--bg-gradient-start) 100%,
      var(--bg-gradient-mid) 100%),
    url('/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}