@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixel-square: var(--font-geist-pixel-square);
  --font-pixel-grid: var(--font-geist-pixel-grid);
  --font-pixel-circle: var(--font-geist-pixel-circle);
  --font-pixel-triangle: var(--font-geist-pixel-triangle);
  --font-pixel-line: var(--font-geist-pixel-line);
}

:root {
  --bg-gradient-start: theme(--color-zinc-300 / 30%);
  --bg-gradient-mid: theme(--color-zinc-400 / 30%);
  --bg-color: theme(--color-zinc-300 / 100%);
  --bg-card-color: theme(--color-stone-300 / 100%);
  --bg-tab-color: theme(--color-stone-300 / 100%);
  --bg-button-color: theme(--color-neutral-400 / 100%);
  --bg-logo-color: theme(--color-neutral-600 / 100%);
  --border-color: theme(--color-neutral-800/ 100%);
  --shadow-color: theme(--color-neutral-800 / 100%);
  --text-color: theme(--color-zinc-900/ 100%);
  --logo-color: theme(--color-zinc-200/ 100%);
  --background-color: #afafaf;
}

.dark {
  --bg-gradient-start: theme(--color-zinc-800/ 85%);
  --bg-gradient-mid: theme(--color-zinc-900 / 80%);
  --bg-color: theme(--color-zinc-700 / 100%);
  --bg-card-color: theme(--color-zinc-700 / 100%);
  --bg-tab-color: theme(--color-zinc-700 / 100%);
  --bg-button-color: theme(--color-zinc-600 / 100%);
  --bg-logo-color: theme(--color-neutral-600 / 100%);
  --border-color: theme(--color-neutral-900 / 100%);
  --shadow-color: theme(--color-neutral-800 / 100%);
  --text-color: theme(--color-stone-300/ 100%);
  --logo-color: theme(--color-zinc-200/ 100%);
  --background-color: #1a1a1a;
}

html,
body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.navbar {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  box-shadow: 5px 5px 0px 0px var(--shadow-color);
}

.card {
  background-color: var(--bg-card-color);
  border-color: var(--border-color);
  box-shadow: 5px 5px 0px 0px var(--shadow-color);
}

.tab {
  background-color: var(--bg-tab-color);
  box-shadow: 3px 0px 0px 0px var(--shadow-color);
}

.navlink {
  background-color: var(--bg-button-color);
  border-color: var(--border-color);
  box-shadow: 4px 4px 0px 0px var(--shadow-color);
}

.button {
  background-color: var(--bg-button-color);
  border-color: var(--border-color);
  box-shadow: 3px 3px 0px 0px var(--shadow-color);
}

.badge {
  background-color: var(--bg-button-color);
  border-color: var(--border-color);
  box-shadow: 3px 3px 0px 0px var(--shadow-color);
}